#wrapper {
	margin: 45vh;
	text-align: center;
	color: white;
	background-color: rgba(220, 220, 220, 0.75);
	padding: 20px;

}

body {
	background-image: url(../image/background.jpg);
	
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

h1 {
	font-family: 'Permanent Marker', cursive;
}

#hint{
	display: none;
}

#hint2{
	display: none;
}

#hint3{
	display: none;
}



	
